body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom left,#092a5c,rgb(2, 11, 39));
    overflow-x: hidden;
    padding-top: 60px;
    font-family: Georgia;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: Georgia;

}

.sidenav a:hover {
    background-color: #d7cce0;
}

.submenu {
    padding-left: 15px;
    display: none;
}

.submenu a {
    font-size: 16px;
    color: #f1f1f1;
    transition: 0.3s;
}

.submenu a:hover {
    color: #d7cce0;
}

.subsubmenu {
    padding-left: 30px;
    display: none;
}

.subsubmenu a {
    font-size: 14px;
    color: #f1f1f1;
    transition: 0.3s;
}

.subsubmenu a:hover {
    color: #d7cce0;
}

.content {
  margin-left: 242px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 20px;
  background:linear-gradient(to bottom right,rgb(23, 3, 59),rgb(13, 100, 182), #052941, #12022c);   
  width: 147%;
  height: 100%;
}

.content h1 {
  color: #f1f1f1;
}

.content h2 {
  color: #f1f1f1;
}

.content p {
  color: #f1f1f1;
  margin-left: -250px;

}

.content img {
margin-left: -500px;
}

.content1 {
margin-left: 242px;
margin-top: 2px;
margin-bottom: 2px;
padding: 20px;
background:linear-gradient(to bottom right,rgb(23, 3, 59),rgb(13, 100, 182), #052941, #12022c);   
width: 147%;
height: 100%;
}

.content1 h1 {
color: #f1f1f1;
}

.content1 h2 {
color: #f1f1f1;
}

.content1 p {
color: #f1f1f1;
}

.content1 img {
margin-left: -150px;
}


.header {
  background: linear-gradient(to top, #092a5c, rgb(2, 11, 39));
  width: 150%;
  height: 180px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  margin-left: 242px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-left: -33px;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.header-text h1, .header-text h2 {
  margin-left: -2600px;
  padding: 0;
}

.footer {
  background: linear-gradient(to bottom,#092a5c,rgb(2, 11, 39));  
  width: 150%;
height: 40px;
text-align: left; 
margin-left: 242px;

}

.footer-content {
max-width: 1200px; 
margin: 0 auto; 
padding-top: 10px; 
margin-left: 350px;
}

.footer-content p {
margin: 0; 
color: whitesmoke
}

.footer-content a {
  color: whitesmoke;
  text-decoration: none;
}
.footer-content a:hover {
  text-decoration: underline;
}

#textAnimation p {
    opacity: 0;
    transition: opacity 1s ease;
  }

  .div21 {
    padding-top: 2%;
      width: 600px;
      height: 120px;
      background-color: rgb(6, 21, 65);
      transition: width 2s, height 2s, transform 2s;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    
    }

    .div21 p {
        color: whitesmoke;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        text-align: justify;
    }
    
    .div21:hover {
    padding-top: 2%;
      width: 300px;
      height: 250px;
      transform: rotate(360deg);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
      text-align: justify;
    }

    .div21:hover p {
        color: whitesmoke;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        text-align: justify;
    }
    .fade-in.show {
        opacity: 1;
        transform: translateY(0);
        text-align: justify;
    }
    .shadow {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
        text-align: justify;

    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .fade-in {
        animation: fadeIn 60s ease-out forwards;
        opacity: 0;
      }

      .fade-in.show {
        opacity: 1;
        transform: translateY(0);
        text-align: justify;
    }
    
    
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .fade-in {
        animation: fadeIn 3s ease-out forwards;
        opacity: 0;
      }
      
      .menu {
        color: whitesmoke; 
        text-align: left; 
        margin-top: -28px; 
        margin-left: 245px;
        padding-top: 8px;
      
      }
      
      
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu ul li {
        display: inline;
        margin-right: 14px;
        box-shadow: 3px 3px 10px rgba(0, 0.2, 0.5, 1);
       padding: 1px;
      }
      
      .menu ul li:last-child {
        margin-right: 0; 
      }
      
      .menu ul li a {
        color: whitesmoke; 
        text-decoration: none;
        font-weight: bold; 
        
      }
      
      .menu ul li a:hover {
        background-color: #d7cce05b;
        padding: 3px;
      }