body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
}
  
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom left,#3c0541,rgb(2, 11, 39));
    overflow-x: hidden;
    padding-top: 60px;
    font-family: Georgia;
}
  
.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: Georgia;
}
  
.sidenav a:hover {
    background-color: #d7cce0;
}
  
.submenu {
    padding-left: 15px;
    display: none;
}
  
.submenu a {
    font-size: 16px;
    color: #f1f1f1;
    transition: 0.3s;
}
  
.submenu a:hover {
    color: #d7cce0;
}
  
.subsubmenu {
    padding-left: 30px;
    display: none;
}
  
.subsubmenu a {
    font-size: 14px;
    color: #f1f1f1;
    transition: 0.3s;
}
  
.subsubmenu a:hover {
    color: #d7cce0;
}
  
.content {
    width: 97%;
    margin-left: 242px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 20px;
    height: 100%;
    background: linear-gradient(to bottom right,rgb(23, 3, 59),rgb(148, 13, 182), #3c0541, #20030e);
}
  
.content h1 {
    color: #f1f1f1;
}
  
.content h2 {
    color: #f1f1f1;
}
  
.content p {
    color: #f1f1f1;
}
  
.content ul li {
    color: #f1f1f1;
    font-size: 15.1px;
}
  
.header {
    background: linear-gradient(to top,#3c0541,rgb(2, 11, 39));
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 242px;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-left: -33px;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }
  
  .header-text h1, .header-text h2 {
    margin-left: -1300px;
    padding: 0;
  }
  
.footer {
    background: linear-gradient(to bottom,#3c0541,rgb(2, 11, 39));
    width: 100%;
    height: 40px;
    text-align: center;
    margin-left: 242px;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}
  
.footer-content p {
    margin: 0;
    color: whitesmoke;
}
  
.footer-content a {
    color: whitesmoke;
    text-decoration: none;
}
  
.footer-content a:hover {
    text-decoration: underline;
}
  
#textAnimation p {
    opacity: 0;
    transition: opacity 1s ease;
}
  
.icon-button img {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid whitesmoke;
    transition: box-shadow 0.3s ease;
}
  
.icon-button img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 2, 10);
    border: 1px solid whitesmoke;
}
  
.div28 {
    background: linear-gradient(to bottom right, #3c0541, #000000);
    width: 78%;
    padding: 10px;
    border: 1px solid whitesmoke; 
    margin-left: -10px; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.div28 h3, .div28 p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
  
.div28 p {
    text-align: justify;
    margin-bottom: 0;
    font-size: 14px;
}
  
.clear {
    clear: both;
}
  
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: whitesmoke;
}
  


    .spinner {
        width: 45px;
        height: 45px;
        margin-right: auto; 
        margin-left: 20px; 
    }

  
.bubble-1,
.bubble-2 {
    position: relative;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: whitesmoke;
}
  
.bubble-2 {
    top: auto;
    bottom: 0;
}
  
.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}
  
.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}
  
.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}
  

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}
  
.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
  
.load-9 .bubble-2 {
    animation-delay: -1s;
}
  
@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}
  
@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}
  
@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    text-align: justify;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 3s ease-out forwards;
    opacity: 0;
  }

  .menu {
    color: whitesmoke; 
    text-align: left; 
    margin-top: -28px; 
    margin-left: 245px;
    padding-top: 8px;
  
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 14px;
    box-shadow: 3px 3px 10px rgba(0, 0.2, 0.5, 1);
   padding: 1px;
  }
  
  .menu ul li:last-child {
    margin-right: 0; 
  }
  
  .menu ul li a {
    color: whitesmoke; 
    text-decoration: none;
    font-weight: bold; 
    
  }
  
  .menu ul li a:hover {
    background-color: #d7cce05b;
    padding: 3px;
  }