
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(8, 1, 39), #362f55, #5b5da1, #8a92b4);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
    font-family: georgia;
    color: whitesmoke;
}


.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #adace9;
    font-family: 'Arial'; /* Altera a fonte dos botões */
    font-weight: bold;
    color: #35323b; /* Altera a cor dos botões */
}

.currentPlayer {
    text-align: center;
    font-family: 'Georgia', serif; /* Altera a fonte do h2 */
    color: whitesmoke; /* Altera a cor do h2 */
    margin-top: 10px; /* Adiciona margem superior */
}

.currentPlayer span {
    color: whitesmoke; /* Cor diferenciada para o jogador atual */
    font-family: georgia;
}
