* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    background: linear-gradient(rgb(8, 1, 39), #362f55, #5b5da1, #8a92b4);
}

.drag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    gap: 10px;
    cursor: pointer;
}

.drag .dragBox {
    width: 100px;
    height: 100px;
    background-color: black;
    overflow: hidden;
}

.images {
    width: 100px; /* Ajuste o tamanho da imagem */
    height: 100px; /* Ajuste o tamanho da imagem */
}

.images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.reset {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    border: none;
    background: rgb(8, 1, 48);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dropBox {
    width: 160px; /* Ajuste o tamanho da caixa drop */
    height: 160px; /* Ajuste o tamanho da caixa drop */
    background: black;
}
